body{
     background-image: url('..\\images\\back.jpg');
     height: 100%;
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-color: black;
     font-family: verdana;
    }

.jumbotron{
   background-image: url('..\\images\\second.jpg');
   margin-top:15px;
   margin-left: 100px;
   height: 550px;
   width:  700px;
   opacity: 0.70;
   filter: alpha(opacity=70);
   border-style: solid;
   border-color: #999999;
}

.jumbotron:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

h1{
   color:#999999;
}

.input{
  width:80%;
  height:14%;
  font-size: 100%;

}
